$color-base:#2694ab;
$color-contents: #e59572;
$color-navi: #e5cabe;
$color-title:#f6f6e9;

@import "https://unpkg.com/ress/dist/ress.min.css";

body {
  background-color: $color-base;
  .header {
    color: $color-title;
    width: 1000px;
    margin: 20px auto;
    h1 {
      color: $color-title;
    }
  }
  .container {
    display: flex;
    width: 1000px;
    margin: 20px auto;
    .list {
      background-color: $color-contents;
      width: 74%;
      padding: 10px;
      box-sizing: border-box;
      .summary {
        padding-left: 10px;
        margin-bottom: 20px;
        h2 {
          display: inline-block;
          margin-bottom: 0;
        }
        .date {
          padding-left: 10px;
          font-size: 0.8rem;
          display: inline-block;
        }
        .summary-contant {
          padding-left: 30px;
        }
      }

    }
    .main {
      background-color: $color-contents;
      width: 74%;
      padding: 10px;
      box-sizing: border-box;
      h1, h2, h3, h4, h5, h6 {
        color: red;
      }
    }
    .sidebar {
      background-color: $color-navi;
      margin-left: 10px;
      width: 26%;
      padding: 10px;
      box-sizing: border-box;
    }
  }

  /* common */
  p {
    margin: 0;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
  }
  a {
    text-decoration: none;
  }
}
