$color-base:#2694ab;
$color-contents: #e59572;
$color-navi: #74615a;
$color-title:#f6f6e9;
$color-font:#f6f6e9;
$color-link:#d8d8c2;

@import "https://unpkg.com/ress/dist/ress.min.css";

body {
  background-color: $color-base;
  color: $color-font;
  .header {
    color: $color-title;
    width: 1000px;
    margin: 20px auto;
    h1 {
      color: $color-title;
    }
  }
  .container {
    display: flex;
    width: 1000px;
    margin: 20px auto;
    .list {
      background-color: $color-contents;
      width: 74%;
      padding: 10px;
      box-sizing: border-box;
      position: relative;
      .summary {
        padding-left: 10px;
        margin-bottom: 20px;
        h2 {
          display: inline-block;
          margin-bottom: 0;
        }
        header {
          display: flex;
          justify-content:space-between;
          align-items: center;
          h2 {
            max-width: 70%;
            height: auto;
          }
          .date {
            padding-top: 20px;
            padding-left: 20px;
            font-size: 0.8rem;
            box-sizing: border-box;
          }
        }
        .summary-contant {
          padding-left: 30px;
        }
      }/* summary */
      .pager-layout {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 10px;
      }
      .pager {
        width: auto;
      }

    }/* list */

    .main {
      background-color: $color-contents;
      width: 74%;
      padding: 10px;
      box-sizing: border-box;
      h1, h2, h3, h4, h5, h6 {
        color: red;
      }
    }
    .sidebar {
      background-color: $color-navi;
      margin-left: 10px;
      width: 26%;
      padding: 10px;
      box-sizing: border-box;
    }
  }

  /* common */
  p {
    margin: 0;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
  }
  a {
    text-decoration: none;
    color: $color-link;
  }
}
